<!DOCTYPE html>

<head>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='simenv/img/favicon.ico')}}" />

    <link rel="stylesheet" href="{{url_for('static', filename='simenv/css/style.css')}}">

    <!-- Roboto font import -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');</style> 


    <title>Experiment Portal</title>
</head>

<body>    
    <br><br>

    <div class="titlebar" style="display: flex; justify-content: center;">
        <div class="title big-title" id="titlebar">
            Experiment Portal
        </div>
    </div>

    <br><br>

    <div style="display: flex; justify-content: center;">
        <div class="center-panel" id="center-panel">
            <div class="instructions grey-instructions" id="instructions-header">Click on the blue section below to launch it. When you complete a section, another one will randomly unlock. When all sections are complete you will see a code to enter into MTurk, to complete the study.</div>
            <div class="instructions grey-instructions button" id="instructions-id">Your Amazon Worker ID is: <b>{{ worker_id }}</b>. If this is incorrect, click here to change it.</div>
            
            <div class="instructions grey-instructions portal-spaced" id="instructions-intro"><b>Introduction</b></div>
            <div class="instructions grey-instructions portal-spaced" id="instructions-sa"><b>Experiment Task</b></div>
            <!-- <div class="instructions grey-instructions portal-spaced" id="instructions-con"><b>Experiment Task</b></div> -->
            <div class="instructions grey-instructions portal-spaced" id="instructions-exp"><b>Experiment Task</b></div>
        </div>
    </div>

    <script>
        document.getElementById("instructions-id").onclick = () => {
            window.location.href = "/";
        };

        let completions = "{{ completions }}";

        // set some texts to complete
        if (completions[0] == "1") {
            setStageComplete("instructions-intro")
        }
        if (completions[1] == "1" || completions[2] == "1") {
            setStageComplete("instructions-sa")
        }
        //if (completions[2] == "1") {
        //    setStageComplete("instructions-con")
        //}
        if (completions[3] == "1") {
            setStageComplete("instructions-exp")
        }

        // determine the button highlighting

        if ({{ next_stage }} == 0) {
            selectDiv = document.getElementById("instructions-intro");
            selectDiv.onclick = () => { window.location.href = "/tutorial?workerId=" + "{{ worker_id }}&mission={{ mission }}&nextStage=0"; };
        }

        if ({{ next_stage }} == 1) {
            selectDiv = document.getElementById("instructions-sa");
            selectDiv.onclick = () => { window.location.href = "/sa-test?workerId=" + "{{ worker_id }}&mission={{ mission }}"; };
        }

        if ({{ next_stage }} == 2) {
            selectDiv = document.getElementById("instructions-sa");  // used to be instructions-con
            selectDiv.onclick = () => { window.location.href = "/tutorial?workerId=" + "{{ worker_id }}&mission={{ mission }}&nextStage=2"; };
        }

        if ({{ next_stage }} == 3) {
            selectDiv = document.getElementById("instructions-exp");

            // change the nextStage below to 3 for Stage 1, and 4 for Stage 2, and 5 for Stage 5
            selectDiv.onclick = () => { window.location.href = "/tutorial?workerId=" + "{{ worker_id }}&mission={{ mission }}&nextStage=" + (parseInt("{{ mission }}") + 2); };
        }

        // if select div is defined (i.e. there is another stage to complete), make it a button
        if (typeof selectDiv != "undefined") {
            selectDiv.style.backgroundColor = "lightblue";
            selectDiv.classList.add("button");
        }
        
        // if all stages complete, say so
        if ("{{ completions }}" == "1011" || "{{ completions }}" == "1101") {
            document.getElementById("instructions-id").innerHTML = "Congratulations on completing this study! We thank you greatly for your participation. Please enter this code into MTurk: <b>{{ completion_code }}</b> <br><br> If your results indicate that you sprinted through the study, you may not be compensated and your results will not be used in our research..";
            document.getElementById("instructions-id").classList = "instructions grey-instructions";
            document.getElementById("instructions-id").style.backgroundColor = "lightgreen";
            document.getElementById("instructions-id").style.userSelect = "text";
            document.getElementById("instructions-id").onclick = () => {};
        }

        function setStageComplete(div) {
            document.getElementById(div).innerHTML += " ~ Done!";
            document.getElementById(div).style.backgroundColor = "inherit";
            document.getElementById(div).style.border = "2px solid palegoldenrod";
        }

        log({"stage": "portal", "action": "opened-portal"});
        function log(data) {
            data["worker-id"] = "{{ worker_id }}";  // include the worker ID
            return fetch("/logging", {method: "POST", body: JSON.stringify(data)});
        }

    </script>

</body>

</html>
