<!DOCTYPE html>

<head>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='simenv/img/favicon.ico')}}" />

    <link rel="stylesheet" href="{{url_for('static', filename='simenv/css/style.css')}}">

    <!-- Roboto font import -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');</style> 

    <!-- JS imports for the local JavaScript files -->
    <script src="{{url_for('static', filename='simenv/js/drawing.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/engine.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/inputUtils.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/stage1.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/stage2.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/stage3.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/testStage.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/uiMap.js')}}"></script>
    <script src="{{url_for('static', filename='simenv/js/uiObjects.js')}}"></script>

    <title>Experiment Task</title>
</head>

<body>    
    <div class="titlebar" style="display: flex; justify-content: center;">
        <div class="title" id="titlebar">
            Experiment Task
        </div>
    </div>

    <div style="display: flex; justify-content: space-between;">
        <div class="side-panel" id="left-panel">
            <div class="instructions grey-instructions" id="instructions-cache" style="margin-left: 1%; display: none; flex-direction: row; justify-content: space-between; align-items: center;">
                <div>Caches will look like:</div>
                <div><img height=".05vh" src="{{url_for('static', filename='simenv/img/cache_view.png')}}" /></div>
            </div>
            <div class="cam-container">
                <div id="cam1" class="cam red"><img id="cam1_image" height="100%" width="100%"/></div>
                <div id="cam1_button" class="cam-button red">Mark Cache</div>
            </div>
            <div class="cam-container">
                <div id="cam3" class="cam blue"><img id="cam3_image" height="100%" width="100%"/></div>
                <div id="cam3_button" class="cam-button blue">Mark Cache</div>
            </div>
        </div>

        <div class="center-panel" id="map-panel">
            <div style="display: flex; flex-direction: row;">
                <div class="instructions grey-instructions giveup" id="instructions-top"></div>
            </div>
            <canvas class="uimap" id="uimap-canvas"></canvas>
            <div class="instructions" id="instructions-bottom">Click a robot to select it, and click on the map to add waypoints for the robot to travel to. Press <b>r</b> to remove the last waypoint, and press <b>q</b> to deselect the robot.</div>
        </div>


        <div class="side-panel" id="right-panel">
            <div class="instructions grey-instructions" id="instructions-giveup" style="margin-left: 1%;">After first selecting a robot, you will have up to 10 minutes to complete the stage.</div>
            <div class="cam-container" id="cam2">
                <div id="cam2" class="cam purple"><img id="cam2_image" height="100%" width="100%"/></div>
                <div id="cam2_button" class="cam-button purple">Mark Cache</div>
            </div>
            <div class="cam-container" id="cam4">
                <div id="cam4" class="cam gold"><img id="cam4_image" height="100%" width="100%"/></div>
                <div id="cam4_button" class="cam-button gold">Mark Cache</div>
            </div>
        </div>
    </div>

<script>
    stageStarted = false;
    startTime = new Date().getTime() / 1000 // initially set the start time to now, we will overwrite this later

    // create the UI Map object
    uiMap = Object;

    // initialize the UI Map
    uiMap = new UIMap("uimap-canvas")
    document.getElementById("uimap-canvas").height = "700";
    document.getElementById("uimap-canvas").width = "700";

    // record the worker ID
    uiMap.workerID = "{{ worker_id }}";

    // set the next stage, if applicable
    uiMap.nextStage = "{{ next_stage }}";

    mission = "{{ mission }}";

    // get the robot reset positions as a server parameter
    //console.log('"{{ robot_positions | safe }}"');
    position_string = '{{ robot_positions }}'.replace(/&#39;/g, '"')
    robot_positions = JSON.parse(position_string);

    // have the map update almost constantly
    window.setInterval(function() {
        uiMap.draw();
    }, 100);

    if ("{{ stage }}" == "0") {
        console.log("Launching Test Stage")
        initTestStage();
    }
    
    // initialize Stage 1
    if ("{{ stage }}" == "1") {
        console.log("Launching Stage 1");
        initStage1();
    }

    // initialize Stage 2
    if ("{{ stage }}" == "2") {
        console.log("Launching Stage 2");
        initStage2();
    }

    // initialize Stage 3
    if ("{{ stage }}" == "3") {
        console.log("Launching Stage 3");
        initStage3();
    }

    // initialize the engine
    initEngine();
    
</script>

</body>

</html>
